*{
    text-align: center;
    background-color: #EDC7b7;
    font-family: Varela Round;
}

h1{
    padding: 5%;
    text-size-adjust:20px;
}

#container > .message{
    padding-bottom: 10px;
    font-size: 25px;
}

.player-score{
    margin-right: 20px;
}

.computer-score{
    margin-left:20px;
}

#container > .score {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.buttons{
    text-align: center;
}

.buttons .weapon{
    border:2px solid;
    margin-top: 50px;
    height:50px;
    width:80px;
    
}

.reset{
    border:2px solid;
    margin: 10px auto;
}